<div class="row-fluid anuncios">
	<div class="container">
		<div class="span3">
			<h2>Anuncie aqui</h2>
		</div>
		<div class="span3">
			<h2>Anuncie aqui</h2>
		</div>
		<div class="span3">
			<h2>Anuncie aqui</h2>
		</div>
		<div class="span3">
			<h2>Anuncie aqui</h2>
		</div>
	</div>
</div>