<div class="tab-pane active" id="blog">
    <section class="post-widget">
        <ul class="clearfix">
        	<% @postnotices.reverse.take(3).each do |postnotice| %>
            <li>
            	<%= link_to postnotice do%>
                <div class="avatar">
                	
                		<%= image_tag postnotice.image.to_s, :size => "90x90"%>
                	
                </div>
                <div class="description">
                    <p><%= link_to postnotice.descbanner, postnotice%></p>
                    <span class="date"><em>12 Apr 2012, 3 comments</em></span>
                </div>
                <div class="clear"></div>
                <%end%>
            </li>
            <%end%>
            
        </ul>
    </section>
</div>