<div id="mainslider" class="flexslider">                        
    <ul class="slides">
      <% @postnotices.each do |post| %>
        <li>
            <%= image_tag post.image.to_s, :size => "200x639"%>
            <h3>
              <span><%= post.title%></span>
              <%= link_to post.descbanner, post%>
            </h3>
        </li>
      <%end%>  
    </ul>
</div>